<ion-header>
    <ion-navbar color='navbarColor'>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>KYC Information</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let item of KYCData">
        <ion-card-content>
            <h2 class="card-title"> <b>Customer ID: </b></h2>
            <p>{{item.Customer_Id}}</p> <br>
            <h2 class="card-title"> <b>Address: </b></h2>

            <ion-item *ngIf="item.Line_Address_1!=null">
            <p>{{item.Line_Address_1}}</p>
            </ion-item>

            <ion-item *ngIf="item.Line_Address_2!=null">
                <p>{{item.Line_Address_2}}</p>
            </ion-item>

            <ion-item *ngIf="item.Line_Address_3!=null">
                <p>{{item.Line_Address_3}}</p>
            </ion-item>
            <p>City: {{item.City}}</p>
            <p>State: {{item.State}}</p>
            <p>PIN CODE: {{item.PIN}}</p>

        </ion-card-content>
        <ion-list>

            <ion-item *ngIf="item.Address_proof_document=='Y'">
                <h3>Address Proof Document: Yes</h3>
            </ion-item>

            <ion-item *ngIf="item.Address_proof_document=='N'">
                <h3>Address Proof Document: NO</h3>
            </ion-item>

            <ion-item>
                <h3>Mobile Number: {{item.Mobile_number}}</h3>
            </ion-item>

            <ion-item>
                <h3>Phone Number: {{item.Land_line_number}}</h3>
            </ion-item>
        </ion-list>

    </ion-card>
</ion-content>




