ion-alert {
  &.alert-warning {
    .alert-head {
      background: map-get($colors, secondary);
      color: #fff;
      margin-bottom: 10px;
    }
  }
  &.alert-danger {
    .alert-head {
      background: map-get($colors, danger);
      color: #fff;
      margin-bottom: 10px;
    }
  }
  &.alert-success {
    .alert-head {
      background: map-get($colors, primary);
      color: #fff;
      margin-bottom: 10px;
    }
  }
}