<ion-header>
    <ion-navbar color='navbarColor'>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Modification Status</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <form #modificationForm="ngForm" (ngSubmit)="onModificationStatusGet(modificationForm)" novalidate>

        <ion-list no-lines>
            
            <ion-item>
                <ion-label stacked color="primary">Customer ID</ion-label>
                <ion-input [(ngModel)]="acnumber" name="accountnumber" placeholder="Enter Customer ID" [minlength]="9" [maxlength]="15" type="number" required>
                </ion-input>
            </ion-item>

            <ion-item>
                <ion-label stacked color="primary">Reference Number</ion-label>
                <ion-input [(ngModel)]="referencenumber" name="referencenumber" type="text" placeholder="Reference Number" required>
                </ion-input>
            </ion-item>

        </ion-list>

        <ion-row responsive-sm>
            <ion-col>
                <button ion-button color="navbarColor" [disabled]="!modificationForm.form.valid"  type="submit" block>Get Modification Status</button>
            </ion-col>
        </ion-row>
    </form>
</ion-content>
