<ion-header>
    <ion-navbar color='navbarColor'>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Get Customer Account Details</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <form #loginForm="ngForm" novalidate>
        <ion-list no-lines>
            <ion-item>
                <ion-label stacked color="primary">Account Number</ion-label>
                <ion-input [(ngModel)]="accountnumber.Account_Number" name="customerid" placeholder="Enter Account Number" [minlength]="9" [maxlength]="15" type="number" #username="ngModel" required>
                </ion-input>
            </ion-item>

        </ion-list>

        <ion-row responsive-sm>
            <ion-col>
                <button ion-button color="navbarColor" [disabled]="!loginForm.form.valid" (click)="onAccountDetailsGet(accountnumber.Account_Number)" type="submit" block>Get Customer Accounts</button>
            </ion-col>
        </ion-row>
    </form>
    <!-- Header -->
            <ion-list *ngFor="let item of accountData">
                <ion-item>
                    <h2>Account Number</h2>
                    <p>{{item.Account_Number}}</p>
                </ion-item>

                <ion-item>
                    <h2> Account Name </h2>
                    <p> {{item.Account_Name}} </p>
                </ion-item>

                <ion-item>
                    <h2> Customer Name </h2>
                    <p> {{item.Customer_Name}} </p>
                </ion-item>

                <ion-item>
                    <h2> Type of Account </h2>
                    <p> {{item.Type_of_account}} </p>
                </ion-item>

                <ion-item>
                    <h2> Current Branch </h2>
                    <p> {{item.Branch_in_which_Account}} </p>
                </ion-item>

                <ion-item>
                    <h2> Account Status</h2>
                    <p> {{item.Acct_Status}} </p>
                </ion-item>

                <ion-item>
                    <h2> Opended Branch </h2>
                    <p> {{item.Account_Opening_Branch}} </p>
                </ion-item>

                <ion-item>
                    <h2> Scheme Code </h2>
                    <p> {{item.Scheme_Code}} </p>
                </ion-item>

                <ion-item>
                    <h2> Opening Date </h2>
                    <p> {{item.Account_Opn_Date}} </p>
                </ion-item>

                <ion-item>
                    <h2> Ledge Balanace </h2>
                    <p> {{item.Ledger_Balance}} </p>
                </ion-item>

                <ion-item>
                    <h2> Avalibale Balance</h2>
                    <p> {{item.Available_Balance}} </p>
                </ion-item>

                <ion-item>
                    <h2> Funds in Clearings </h2>
                    <p> {{item.Funds_in_clearings}} </p>
                </ion-item>

                <ion-item>
                    <h2> Drawing Power </h2>
                    <p> {{item.Drawing_Power}} </p>
                </ion-item>

                <ion-item>
                    <h2> Lient Amount </h2>
                    <p> {{item.Lien_Amt}} </p>
                </ion-item>

                <ion-item>
                    <h2> Joint Holder 1 </h2>
                    <p> {{item.Joint_Holder_Name_1}} </p>
                </ion-item>

                <ion-item>
                    <h2> Joint Holder 2 </h2>
                    <p> {{item.Joint_Holder_Name_2}} </p>
                </ion-item>

                <ion-item>
                    <h2> Joint Holder 3 </h2>
                    <p> {{item.Joint_Holder_Name_3}} </p>
                </ion-item>

                <ion-item>
                    <h2> Mode of Operation </h2>
                    <p> {{item.Mode_of_Operation}} </p>
                </ion-item>
            </ion-list>

</ion-content>
