<ion-header>
    <ion-navbar color='navbarColor'>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Card Account Summary</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <form #cardSummaryForm="ngForm" (ngSubmit)="onCardSummaryGet(cardSummaryForm)" novalidate>
        <ion-list no-lines>
            <ion-item>
                <ion-label stacked color="primary">Customer ID</ion-label>
                <ion-input [(ngModel)]="customerid" name="customerid" placeholder="Enter Customer ID" [minlength]="9" [maxlength]="9" type="number" required>
                </ion-input>
            </ion-item>

            <ion-item>
                <ion-label stacked color="primary">Card Number</ion-label>
                <ion-input [(ngModel)]="cardumber" name="cardumber" placeholder="Enter Card Number" [minlength]="16" [maxlength]="16" type="number" required></ion-input>
            </ion-item>
        </ion-list>

        <ion-row responsive-sm>
            <ion-col>
                <button ion-button color="navbarColor" [disabled]="!cardSummaryForm.form.valid"type="submit" block>Get Card Summary</button>
            </ion-col>
        </ion-row>
    </form>
    <!-- Header -->
    <ion-list *ngFor="let item of cardAccountData">

        <ion-item>
            <h2> Account Name </h2>
            <p> {{item.Name}} </p>
        </ion-item>

        <ion-item>
            <h2> Exipry Date </h2>
            <p> {{item.Expiry}} </p>
        </ion-item>

        <ion-item>
            <h2> CVV </h2>
            <p> {{item.CVV}} </p>
        </ion-item>

        <ion-item>
            <h2> Principal </h2>
            <p> {{item.Principal_Outstanding}} </p>
        </ion-item>

        <ion-item>
            <h2> Balance</h2>
            <p> {{item.Current_Balance}} </p>
        </ion-item>

        <ion-item>
            <h2> Status </h2>
            <p> {{item.Status}} </p>
        </ion-item>
    </ion-list>

</ion-content>
