<ion-header>
    <ion-navbar color='navbarColor'>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Retrieve Reward Points</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <form #RetrieveRewardPoints="ngForm" (ngSubmit)="onRetrieveRewardPointsGet(RetrieveRewardPoints)" novalidate>
        <ion-list no-lines>
            <ion-item>
                <ion-label stacked color="primary">Customer ID</ion-label>
                <ion-input [(ngModel)]="customerid" name="customerid" placeholder="Enter Customer ID" [minlength]="9" [maxlength]="9"  type="number" required>
                </ion-input>
            </ion-item>

            <ion-item>
                <ion-label stacked color="primary">Card Number</ion-label>
                <ion-input [(ngModel)]="cardnumber" name="cardnumber" placeholder="Enter Card Number" [minlength]="16" [maxlength]="16"  type="number" required>
                </ion-input>
            </ion-item>

        </ion-list>

        <ion-row responsive-sm>
            <ion-col>
                <button ion-button color="navbarColor" [disabled]="!RetrieveRewardPoints.form.valid"type="submit" block>Retrieve Reward Points</button>
            </ion-col>
        </ion-row>
    </form>
</ion-content>
