<ion-header>
    <ion-navbar color='navbarColor'>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Customer to Customer Transfer</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <form #cust2custForm="ngForm" (ngSubmit)="oncust2custGet(cust2custForm)" novalidate>
        <ion-list no-lines>

            <ion-item>
                <ion-label stacked color="primary">Debit Account</ion-label>
                <ion-input [(ngModel)]="debit" name="debit" placeholder="Enter Debit Account Number" type="number" required>
                </ion-input>
            </ion-item>

            <ion-item>
                <ion-label stacked color="primary">Credit Account</ion-label>
                <ion-input [(ngModel)]="credit" name="credit" placeholder="Enter Credit Account Number" type="number" required>
                </ion-input>
            </ion-item>

            <ion-item>
                <ion-label stacked color="primary">Amount</ion-label>
                <ion-input [(ngModel)]="amount" name="amount" placeholder="Enter Amount" type="number" required>
                </ion-input>
            </ion-item>

            <ion-item>
                <ion-label stacked color="primary">Message</ion-label>
                <ion-input [(ngModel)]="message" name="message" placeholder="Enter Message" type="text" required>
                </ion-input>
            </ion-item>
        </ion-list>

        <ion-row responsive-sm>
            <ion-col>
                <button ion-button color="navbarColor" [disabled]="!cust2custForm.form.valid"  type="submit" block>Get Transaction Details</button>
            </ion-col>
        </ion-row>
    </form>

</ion-content>
