<ion-header>
    <ion-navbar color='navbarColor'>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>BARODA FINATION RMKEC</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div text-center>
    <img src="rootpage.jpg" center/>
    </div>
</ion-content>
