<ion-tabs [selectedIndex]="mySelectedIndex" name="conference">
  <ion-tab [root]="tab1Root" tabTitle="Schedu!" tabIcon="calendar" tabUrlPath="conference-schedule"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Map" tabIcon="map"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Transaction" tabIcon="map"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Mini Statement" tabIcon="map"></ion-tab>
  <ion-tab [root]="tab5Root" tabTitle="Customer Details Page" tabIcon="map"></ion-tab>
  <ion-tab [root]="tab6Root" tabTitle="Modification Status" tabIcon="map"></ion-tab>
</ion-tabs>
