<ion-header>
	<ion-navbar color='navbarColor'>
		<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
		<ion-title>Get Customer Account List</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	<form #loginForm="ngForm" novalidate>
		<ion-list no-lines>
			<ion-item>
				<ion-label stacked color="primary">Customer ID</ion-label>
				<ion-input [(ngModel)]="customerid.Customer_Id" name="customerid" placeholder="Enter Customer ID" [minlength]="9" [maxlength]="9" type="number" #username="ngModel" required>
				</ion-input>
			</ion-item>
            <p ion-text [hidden]="customerid.valid || submitted == false" color="danger" padding-left>
                Customer ID is required
            </p>

		</ion-list>

		<ion-row responsive-sm>
			<ion-col>
				<button ion-button color="navbarColor" [disabled]="!loginForm.form.valid" (click)="onCustomerGet(customerid.Customer_Id)" type="submit" block>Get Customer Accounts</button>
			</ion-col>
		</ion-row>
	</form>
    <!-- Header -->
    <ion-content padding>
        <ion-list >
            <b>Customer Account List Details</b>
            <ion-item text-wrap *ngFor="let item of postDate" >
                {{item.row_number}}. {{item.Account_Number}} - {{item.Type_of_account}}
            </ion-item>
        </ion-list>
    </ion-content>



</ion-content>
