<ion-header>
    <ion-navbar color='navbarColor'>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Locker Dues Enquiry</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <form #LockerDuesForm="ngForm" (ngSubmit)="onLockerAvailGet(LockerDuesForm)" novalidate>
        <ion-list no-lines>

            <ion-item>
                <ion-label stacked color="primary">Service Outlet Id</ion-label>
                <ion-input [(ngModel)]="serviceid" name="serviceid" placeholder="Enter Service Outlet ID" [minlength]="4" [maxlength]="4" type="number" required>
                </ion-input>
            </ion-item>
        </ion-list>
        <ion-row responsive-sm>
            <ion-col>
                <button ion-button color="navbarColor"  [disabled]="!LockerDuesForm.form.valid"  type="submit" block>Get Details</button>
            </ion-col>
        </ion-row>
    </form>


</ion-content>
