<ion-header>
    <ion-navbar color='navbarColor'>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Cheque Issuance</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <form #chequeForm="ngForm" (ngSubmit)="onchequeGet(chequeForm)" novalidate>
        <ion-list no-lines>

            <ion-item>
                <ion-label stacked color="primary">Account Number</ion-label>
                <ion-input [(ngModel)]="acnumber" name="accountnumber" placeholder="Enter Account Number" [minlength]="9" [maxlength]="15" type="number"  required>
                </ion-input>
            </ion-item>

            <ion-item>
                <ion-label>Cheque Type</ion-label>
                <ion-select interface="popover" [(ngModel)]="chequetype" name="chequetype" required>
                    <ion-option value="CHQ">Cheque</ion-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label>Sub Category Cheque Type</ion-label>
                <ion-select interface="popover" [(ngModel)]="subchequetype" name="subchequetype" required>
                    <ion-option value="CHQ1">Cheque</ion-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label stacked color="primary">Cheques Per Books</ion-label>
                <ion-input [(ngModel)]="cheques" name="cheques" placeholder="Number of Cheques" type="number"  required>
                </ion-input>
            </ion-item>

            <ion-item>
                <ion-label stacked color="primary">Pick Up Branch Code</ion-label>
                <ion-input [(ngModel)]="branch" name="branch" placeholder="Enter Branch Code" type="number"  required>
                </ion-input>
            </ion-item>

            <ion-item>
                <ion-label stacked color="primary">Number of Books</ion-label>
                <ion-input [(ngModel)]="books" name="books" placeholder="Enter Number of Books" type="number"  required>
                </ion-input>
            </ion-item>

            <ion-item>
                <ion-label>SAN Type</ion-label>
                <ion-select interface="popover" [(ngModel)]="santype" name="santype" required>
                    <ion-option value="CTS">CTS Mode</ion-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label stacked color="primary">Amount</ion-label>
                <ion-input [(ngModel)]="amount" name="amount" placeholder="Enter Amount" type="number"  required>
                </ion-input>
            </ion-item>

            <ion-item>
                <ion-label>Segment Type</ion-label>
                <ion-select interface="popover" [(ngModel)]="segement" name="segement" required>
                    <ion-option value="Y">YES</ion-option>
                    <ion-option value="N">NO</ion-option>
                </ion-select>
            </ion-item>

        </ion-list>

        <ion-row responsive-sm>
            <ion-col>
                <button ion-button color="navbarColor" [disabled]="!chequeForm.form.valid"  type="submit" block>Get Transaction Details</button>
            </ion-col>
        </ion-row>
    </form>

</ion-content>
