<ion-header>
    <ion-navbar color='navbarColor'>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Get Biller Information</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <form #getBillerForm="ngForm" (ngSubmit)="onBillerGet(getBillerForm)" novalidate>
        <ion-list no-lines>

            <ion-item>
                <ion-label stacked color="primary">Customer ID</ion-label>
                <ion-input [(ngModel)]="customerid" name="customerid" placeholder="Enter Customer ID" [minlength]="9" [maxlength]="9" type="number"  required>
                </ion-input>
            </ion-item>
        </ion-list>

        <ion-row responsive-sm>
            <ion-col>
                <button ion-button color="navbarColor" [disabled]="!getBillerForm.form.valid"  type="submit" block>Get Biller Details</button>
            </ion-col>
        </ion-row>
    </form>

    <ion-list *ngFor="let item of getBillerData">
        <ion-item>
            <h2>Biller ID - Biller Name</h2>
            <p>{{item.Biller_ID+"-"+item.Biller_Name}}</p><br>
            <h2>Biller Address</h2>
            <p>{{item.Biller_Address}}</p><br>
            <h2>Biller Type</h2>
            <p>{{item.Biller_Type}}</p>
        </ion-item>

    </ion-list>

</ion-content>
