<ion-header>
    <ion-navbar color='navbarColor'>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Issue Credit Limit</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <form #issuecreditLimit="ngForm" (ngSubmit)="onissueCreditLimitGet(issuecreditLimit)" novalidate>
        <ion-list no-lines>
            <ion-item>
                <ion-label stacked color="primary">Customer ID</ion-label>
                <ion-input [(ngModel)]="customerid" name="customerid" placeholder="Enter Customer ID" [minlength]="9" [maxlength]="9"  type="number" required>
                </ion-input>
            </ion-item>

        </ion-list>

        <ion-row responsive-sm>
            <ion-col>
                <button ion-button color="navbarColor" [disabled]="!issuecreditLimit.form.valid"type="submit" block>Issue Credit Limit</button>
            </ion-col>
        </ion-row>
    </form>
</ion-content>
