<ion-header>
    <ion-navbar color='navbarColor'>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Branch Information from IFSC</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <form #branchIFSCForm="ngForm" (ngSubmit)="onbranchIFSCGet(branchIFSCForm)" novalidate>
        <ion-list no-lines>

            <ion-item>
                <ion-label stacked color="primary">IFSC Code</ion-label>
                <ion-input [(ngModel)]="ifsc" name="ifsc" placeholder="Enter IFSC Code" type="text" required>
                </ion-input>
            </ion-item>

        </ion-list>
        <ion-row responsive-sm>
            <ion-col>
                <button ion-button color="navbarColor" [disabled]="!branchIFSCForm.form.valid"  type="submit" block>Get Transaction Details</button>
            </ion-col>
        </ion-row>
    </form>

    <ion-card *ngFor="let ifsc of branchIFSCData">

        <ion-item>
            <h2><b>Branch Name:</b> <br>{{ifsc.branchName}}</h2>
        </ion-item>

        <ion-item>
            <h2><b>Branch Address:</b> <br> {{ifsc.address}}</h2>
        </ion-item>

        <ion-card-content>
            <b>City  </b>  : <br>   {{ifsc.city}}  <br>
            <b>State  </b> : <br>   {{ifsc.state}}    <br>
        </ion-card-content>

    </ion-card>

</ion-content>
