<ion-header>
    <ion-navbar color='navbarColor'>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Get Customer Information</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <form #CustDetailForm="ngForm" (ngSubmit)="onCustomerDetailPage(CustDetailForm)" novalidate>
        <ion-list no-lines>
            <ion-item>
                <ion-label stacked color="primary">Customer ID</ion-label>
                <ion-input [(ngModel)]="customerid" name="customerid" placeholder="Enter Customer ID" [minlength]="9" [maxlength]="9" type="number" #username="ngModel" required>
                </ion-input>
            </ion-item>

        </ion-list>

        <ion-row responsive-sm>
            <ion-col>
                <button ion-button color="navbarColor" [disabled]="!CustDetailForm.form.valid" type="submit" block>Get Customer Details</button>
            </ion-col>
        </ion-row>
    </form>
    <!-- Header -->
</ion-content>
