<ion-split-pane>
    <ion-menu id="mainMenu" [content]="content">

        <ion-header>
            <ion-toolbar color='navbarColor'>
                <ion-title>Bank of Baroda</ion-title>
            </ion-toolbar>
        </ion-header>

        <ion-content class="outer-content">
            <ion-list>
                <ion-list-header>
                    Customer and Account Details
                </ion-list-header>
                <button ion-item menuClose *ngFor="let p of customerPages" (click)="openPage(p)">
                    {{p.title}}
                </button>
            </ion-list>


            <ion-list>
                <ion-list-header>
                    Payments and Account Transfers
                </ion-list-header>
                <button ion-item menuClose *ngFor="let p of paymentPages" (click)="openPage(p)">
                    {{p.title}}
                </button>
            </ion-list>

            <ion-list>
                <ion-list-header>
                    Locker
                </ion-list-header>
                <button ion-item menuClose *ngFor="let p of lockerPages" (click)="openPage(p)">
                    {{p.title}}
                </button>
            </ion-list>

            <ion-list>
                <ion-list-header>
                    Loan
                </ion-list-header>
                <button ion-item menuClose *ngFor="let p of loanPages" (click)="openPage(p)">
                    {{p.title}}
                </button>
            </ion-list>

            <ion-list>
                <ion-list-header>
                    Cheque
                </ion-list-header>
                <button ion-item menuClose *ngFor="let p of chequePages" (click)="openPage(p)">
                    {{p.title}}
                </button>
            </ion-list>

            <ion-list>
                <ion-list-header>
                    Cards
                </ion-list-header>
                <button ion-item menuClose *ngFor="let p of cardPages" (click)="openPage(p)">
                    {{p.title}}
                </button>
            </ion-list>

        </ion-content>
    </ion-menu>

    <!-- main navigation -->
    <ion-nav [root]="rootpage" #content swipeBackEnabled="false" main name="app"></ion-nav>

</ion-split-pane>
