<ion-header>
    <ion-navbar color='navbarColor'>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Get Transactions for Account</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <form #TransactionsForm="ngForm" (ngSubmit)="onTransactionsGet(TransactionsForm)" novalidate>
        <ion-list no-lines>

            <ion-item>
                <ion-label stacked color="primary">Account Number</ion-label>
                <ion-input [(ngModel)]="acnumber" name="accountnumber" placeholder="Enter Account Number" [minlength]="9" [maxlength]="15" type="number"  required>
                </ion-input>
            </ion-item>

            <ion-item>
                <ion-label>Account Type</ion-label>
                <ion-select interface="popover" [(ngModel)]="accountType" name="accountType" required>
                    <ion-option value="SBA">Savings Account</ion-option>
                    <ion-option value="CAA">Current Account</ion-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label>From Date</ion-label>
                <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="fromDate" name="fromDate" required></ion-datetime>
            </ion-item>

            <ion-item>
                <ion-label>To Date</ion-label>
                <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="toDate" name="toDate" required></ion-datetime>
            </ion-item>


        </ion-list>

        <ion-row responsive-sm>
            <ion-col>
                <button ion-button color="navbarColor" [disabled]="!TransactionsForm.form.valid"  type="submit" block>Get Transaction Details</button>
            </ion-col>
        </ion-row>
    </form>

    <ion-card *ngFor="let transcard of transactionData">

        <ion-item>
            <h2><ion-icon name="calendar"></ion-icon> Transaction Date: {{transcard.Tran_Date}}</h2>
        </ion-item>

        <ion-card-content>
            <b>Transaction Amount  :   {{transcard.Tran_Amt}} </b> <br>
            <b>Balance Amount      :   {{transcard.Balance}}   </b> <br>
            <b>Remarks             :   {{transcard.Tran_Rmks}} </b> <br>
        </ion-card-content>

        <ion-row>
            <ion-col>
                <ion-note>
                    Transaction ID {{transcard.Transaction_Id}}
                </ion-note>
            </ion-col>
        </ion-row>

    </ion-card>

</ion-content>
