<ion-header>
    <ion-navbar color='navbarColor'>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Locker Avaliability</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <form #LockerAvailForm="ngForm" (ngSubmit)="onLockerAvailGet(LockerAvailForm)" novalidate>
        <ion-list no-lines>

            <ion-item>
                <ion-label stacked color="primary">Cabinet Id</ion-label>
                <ion-input [(ngModel)]="serviceid" name="cabinetid" placeholder="Enter Service Outlet ID" [minlength]="3" [maxlength]="3" type="number" required>
                </ion-input>
            </ion-item>

            <ion-item>
                <ion-label stacked color="primary">Locker Type</ion-label>
                <ion-select interface="popover" [(ngModel)]="lockerType" name="lockerType" required>
                    <ion-option value="AU">A U</ion-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label stacked color="primary">Locker Status</ion-label>
                <ion-select interface="popover" [(ngModel)]="lockerStatus" name="lockerStatus" required>
                    <ion-option value="AVAILABLE">AVAILABLE</ion-option>
                </ion-select>
            </ion-item>



        </ion-list>
        <ion-row responsive-sm>
            <ion-col>
                <button ion-button color="navbarColor"  [disabled]="!LockerAvailForm.form.valid"  type="submit" block>Get Status</button>
            </ion-col>
        </ion-row>
    </form>


</ion-content>
