<ion-header>
    <ion-navbar color='navbarColor'>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Get Risk Score</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <form #riskScoreForm="ngForm" (ngSubmit)="onRiskScoreGet(riskScoreForm)" novalidate>

        <ion-list no-lines>

            <ion-item>
                <ion-label stacked color="primary">Customer ID</ion-label>
                <ion-input [(ngModel)]="acnumber" name="accountnumber" placeholder="Enter Customer ID" [minlength]="9" [maxlength]="15" type="number" required>
                </ion-input>
            </ion-item>
        </ion-list>

        <ion-row responsive-sm>
            <ion-col>
                <button ion-button color="navbarColor" [disabled]="!riskScoreForm.form.valid"  type="submit" block>Get Risk Score</button>
            </ion-col>
        </ion-row>
    </form>
</ion-content>
