<ion-header>
    <ion-navbar color='navbarColor'>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Card Authorization</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <form #cardauthorization="ngForm" (ngSubmit)="onCardAuthorizationGet(cardauthorization)" novalidate>
        <ion-list no-lines>
            <ion-item>
                <ion-label stacked color="primary">Customer Name</ion-label>
                <ion-input [(ngModel)]="customerName" name="customerName" placeholder="Enter Customer Name"  type="text" required>
                </ion-input>
            </ion-item>

            <ion-item>
                <ion-label stacked color="primary">Exipry Date</ion-label>
                <ion-datetime displayFormat="DD/MM/YYYY" placeholder="Choose Date" [(ngModel)]="expiry" name="expiry" required></ion-datetime>
            </ion-item>

            <ion-item>
                <ion-label stacked color="primary">CVV</ion-label>
                <ion-input [(ngModel)]="cvv" name="cvv" placeholder="Enter CVV" [minlength]="3" [maxlength]="3" type="number" required></ion-input>
            </ion-item>

            <ion-item>
                <ion-label stacked color="primary">Amount</ion-label>
                <ion-input [(ngModel)]="amount" name="amount" placeholder="Enter Amount" type="number" required></ion-input>
            </ion-item>
        </ion-list>

        <ion-row responsive-sm>
            <ion-col>
                <button ion-button color="navbarColor" [disabled]="!cardauthorization.form.valid"type="submit" block>Get Card Summary</button>
            </ion-col>
        </ion-row>
    </form>
</ion-content>
