<ion-header>
    <ion-navbar color='navbarColor'>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>TDS Information</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card>

        <ion-grid>
            <h1><ion-row><ion-col>Tax Year - {{TDSDetailedData.Tax_Year}}</ion-col></ion-row></h1>
        </ion-grid>

        <ion-grid>
            <ion-row text-center>
                <ion-col col-25> <b> Customer ID </b></ion-col>
                <ion-col col-25> <b> Customer Name </b></ion-col>
                <ion-col col-25> <b> Account Number </b></ion-col>
            </ion-row>
            <ion-row wrap text-center>
                <ion-col col-25> {{ TDSDetailedData.Customer_ID }}</ion-col>
                <ion-col col-25> {{ TDSDetailedData.Custome_Name }}</ion-col>
                <ion-col col-25> {{ TDSDetailedData.Account_Number }}</ion-col>
            </ion-row>
        </ion-grid>

        <ion-grid>
            <ion-row text-center>
                <ion-col col-25> <b> 15H-15G </b></ion-col>
                <ion-col col-25> <b> Exemption </b></ion-col>
                <ion-col col-25> <b> Branch Code </b></ion-col>
            </ion-row>
            <ion-row wrap text-center>
                <ion-col col-25> {{ TDSDetailedData.Submit_15H_15G }}</ion-col>
                <ion-col col-25> {{ TDSDetailedData.TDS_Exemption }}</ion-col>
                <ion-col col-25> {{ TDSDetailedData.Branch_Code }}</ion-col>
            </ion-row>
        </ion-grid>


        <ion-grid>
            <ion-row text-center>
                <ion-col col-25> <b> Total Tax Projected </b></ion-col>
                <ion-col col-25> <b> Total Tax Paid </b></ion-col>
                <ion-col col-25> <b> Remaining </b></ion-col>
            </ion-row>
            <ion-row wrap text-center>
                <ion-col col-25> {{ TDSDetailedData.Total_Tax_Projected }}</ion-col>
                <ion-col col-25> {{ TDSDetailedData.Total_Tax_Paid }}</ion-col>
                <ion-col col-25> {{ TDSDetailedData.Total_Tax_Projected - TDSDetailedData.Total_Tax_Paid }}</ion-col>
            </ion-row>
        </ion-grid>

        <ion-grid>
            <ion-row text-center>
                <ion-col col-25> <b> Income Tax Projected </b></ion-col>
                <ion-col col-25> <b> Income Tax Paid </b></ion-col>
                <ion-col col-25> <b> Remaining </b></ion-col>
            </ion-row>
            <ion-row wrap text-center>
                <ion-col col-25> {{ TDSDetailedData.Income_Tax_Projected }}</ion-col>
                <ion-col col-25> {{ TDSDetailedData.Income_Tax_Paid }}</ion-col>
                <ion-col col-25> {{ TDSDetailedData.Income_Tax_Projected - TDSDetailedData.Income_Tax_Paid }}</ion-col>
            </ion-row>
        </ion-grid>


        <ion-grid>
            <ion-row text-center>
                <ion-col col-25> <b> Surcharge Projected </b></ion-col>
                <ion-col col-25> <b> Surcharge Paid </b></ion-col>
                <ion-col col-25> <b> Remaining </b></ion-col>
            </ion-row>
            <ion-row wrap text-center>
                <ion-col col-25> {{ TDSDetailedData.Surcharge_Projected }}</ion-col>
                <ion-col col-25> {{ TDSDetailedData.Surcharge_Paid }}</ion-col>
                <ion-col col-25> {{ TDSDetailedData.Surcharge_Projected - TDSDetailedData.Surcharge_Paid }}</ion-col>
            </ion-row>
        </ion-grid>

        <ion-grid>
            <ion-row text-center>
                <ion-col col-25> <b> CESS Projected </b></ion-col>
                <ion-col col-25> <b> CESS Paid </b></ion-col>
                <ion-col col-25> <b> Remaining </b></ion-col>
            </ion-row>
            <ion-row wrap text-center>
                <ion-col col-25> {{ TDSDetailedData.Cess_Projected }}</ion-col>
                <ion-col col-25> {{ TDSDetailedData.Cess_Paid }}</ion-col>
                <ion-col col-25> {{ TDSDetailedData.Cess_Projected - TDSDetailedData.Cess_Paid }}</ion-col>
            </ion-row>
        </ion-grid>

    </ion-card>
</ion-content>




