<ion-header>
    <ion-navbar color='navbarColor'>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Schedule a Bill Payment</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <form #scheduleBillForm="ngForm" (ngSubmit)="onscheduleBillerGet(scheduleBillForm)" novalidate>
        <ion-list no-lines>

            <ion-item>
                <ion-label stacked color="primary">Customer ID</ion-label>
                <ion-input [(ngModel)]="customerid" name="customerid" placeholder="Enter Customer ID" [minlength]="9" [maxlength]="9" type="number"  required>
                </ion-input>
            </ion-item>

            <ion-item>
                <ion-label stacked color="primary">Debit Account Number</ion-label>
                <ion-input [(ngModel)]="debit" name="debit" placeholder="Enter Debit Account Number" type="number"  required>
                </ion-input>
            </ion-item>

            <ion-item>
                <ion-label stacked color="primary">Biller ID</ion-label>
                <ion-input [(ngModel)]="biller" name="biller" placeholder="Enter Biller ID"  type="number"  required>
                </ion-input>
            </ion-item>

            <ion-item>
                <ion-label stacked color="primary">Amount</ion-label>
                <ion-input [(ngModel)]="amount" name="amount" placeholder="Enter Amount" type="number"  required>
                </ion-input>
            </ion-item>

            <ion-item>
                <ion-label>To Date</ion-label>
                <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="toDate" name="toDate" required></ion-datetime>
            </ion-item>
        </ion-list>

        <ion-row responsive-sm>
            <ion-col>
                <button ion-button color="navbarColor" [disabled]="!scheduleBillForm.form.valid"  type="submit" block>Schedule a Bill Payment</button>
            </ion-col>
        </ion-row>
    </form>

</ion-content>
