<ion-header>
    <ion-navbar color='navbarColor'>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Loan Product Information</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="grid-full">
    <ion-card *ngFor="let item of loanProductDetailedData">

        <ion-grid>
            <h2><ion-row><ion-col>Loan Product Name - {{item.Product_Code+" "+item.Product_Name}}</ion-col></ion-row></h2>
        </ion-grid>

        <ion-grid>

            <ion-row>
                <ion-col col-25> <b> Minimum Tenure </b></ion-col>
                <ion-col col-75> {{item.Minimum_Tenure_in_months}}</ion-col>
            </ion-row>

            <ion-row>
                <ion-col col-25> <b> Maximum Tenure </b></ion-col>
                <ion-col col-75> {{item.Maximum_Tenure_in_months}}</ion-col>
            </ion-row>

            <ion-row>
                <ion-col col-25> <b> Minimum Amount </b></ion-col>
                <ion-col col-75> {{item.Minimum_Amount}}</ion-col>
            </ion-row>

            <ion-row>
                <ion-col col-25> <b> Maximum Amount </b></ion-col>
                <ion-col col-75> {{item.Maximum_Amount}}</ion-col>
            </ion-row>

            <ion-row>
                <ion-col col-25> <b> Rate of Interest </b></ion-col>
                <ion-col col-75> {{item.Rate_of_Interest}}</ion-col>
            </ion-row>

            <ion-row>
                <ion-col col-25> <b> Interest Type </b></ion-col>
                <ion-col col-75> {{item.Interest_Type}}</ion-col>
            </ion-row>

            <ion-row>
                <ion-col col-25> <b> Moratorium Period in months </b></ion-col>
                <ion-col col-75> {{item.Moratorium_Period_in_months}}</ion-col>
            </ion-row>

            <ion-row>
                <ion-col col-25> <b> Foreclosure Allowed </b></ion-col>
                <ion-col col-75> {{item.Foreclosure_Allowed}}</ion-col>
            </ion-row>

            <ion-row>
                <ion-col col-25> <b> Part Payment Allowed </b></ion-col>
                <ion-col col-75> {{item.Part_Payment_Allowed}}</ion-col>
            </ion-row>

            <ion-row>
                <ion-col col-25> <b> Client Minimum Age </b></ion-col>
                <ion-col col-75> {{item.Client_Minimum_Age}}</ion-col>
            </ion-row>

            <ion-row>
                <ion-col col-25> <b> Client Maximum Age </b></ion-col>
                <ion-col col-75> {{item.Client_Maximum_Age}}</ion-col>
            </ion-row>

            <ion-row>
                <ion-col col-25> <b> Client Minimum Income </b></ion-col>
                <ion-col col-75> {{item.Client_Minimum_Income}}</ion-col>
            </ion-row>

            <ion-row>
                <ion-col col-25> <b> Client Other requerements </b></ion-col>
                <ion-col col-75> {{item.Client_Other_requerements}}</ion-col>
            </ion-row>

        </ion-grid>


    </ion-card>
</ion-content>