<ion-header>
    <ion-navbar color='navbarColor'>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>PAN CARD Verification</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <form #PANForm="ngForm" (ngSubmit)="onPANGet(PANForm)" novalidate>
        <ion-list no-lines>

            <ion-item>
                <ion-label stacked color="primary">PAN CARD Number</ion-label>
                <ion-input [(ngModel)]="pancardnumber" name="pancardnumber" placeholder="Enter PAN Card Number" [minlength]="11" [maxlength]="11" type="text" required>
                </ion-input>
            </ion-item>
        </ion-list>

        <ion-row responsive-sm>
            <ion-col>
                <button ion-button color="navbarColor"  [disabled]="!PANForm.form.valid"  type="submit" block>Get PAN Status</button>
            </ion-col>
        </ion-row>
    </form>


</ion-content>
