<ion-header>
    <ion-navbar color='navbarColor'>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>TDS Enquiry</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <form #TDSForm="ngForm" (ngSubmit)="onTDSGet(TDSForm)" novalidate>
        <ion-list no-lines>

            <ion-item>
                <ion-label stacked color="primary">Account Number</ion-label>
                <ion-input [(ngModel)]="acnumber" name="accountnumber" placeholder="Enter Account Number" [minlength]="9" [maxlength]="15" type="number"  required>
                </ion-input>
            </ion-item>
        </ion-list>
        <ion-row responsive-sm>
            <ion-col>
                <button ion-button color="navbarColor"  [disabled]="!TDSForm.form.valid"  type="submit" block>Get TDS</button>
            </ion-col>
        </ion-row>
    </form>


</ion-content>
