<ion-header>
    <ion-navbar color='navbarColor'>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Add Biller</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <form #addBillerForm="ngForm" (ngSubmit)="onaddBillerGet(addBillerForm)" novalidate>
        <ion-list no-lines>

            <ion-item>
                <ion-label stacked color="primary">Customer ID</ion-label>
                <ion-input [(ngModel)]="customerid" name="customerid" placeholder="Enter Customer ID" type="number" required>
                </ion-input>
            </ion-item>

            <ion-item>
                <ion-label stacked color="primary">Biller ID</ion-label>
                <ion-input [(ngModel)]="billerid" name="billerid" placeholder="Enter Biller Id" type="number" required>
                </ion-input>
            </ion-item>

        </ion-list>

        <ion-row responsive-sm>
            <ion-col>
                <button ion-button color="navbarColor" [disabled]="!addBillerForm.form.valid"  type="submit" block>Get Transaction Details</button>
            </ion-col>
        </ion-row>
    </form>

</ion-content>
