<ion-header>
    <ion-navbar color='navbarColor'>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Stop Cheque</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <form #TransactionsForm="ngForm" (ngSubmit)="onstopGet(TransactionsForm)" novalidate>
        <ion-list no-lines>

            <ion-item>
                <ion-label stacked color="primary">Account Number</ion-label>
                <ion-input [(ngModel)]="acnumber" name="accountnumber" placeholder="Enter Account Number" [minlength]="9" [maxlength]="15" type="number"  required>
                </ion-input>
            </ion-item>

            <ion-item>
                <ion-label stacked color="primary">From Cheque No</ion-label>
                <ion-input [(ngModel)]="fromcn" name="fromcn" placeholder="Enter from Cheque Number" type="number"  required>
                </ion-input>
            </ion-item>

            <ion-item>
                <ion-label stacked color="primary">To Cheque No</ion-label>
                <ion-input [(ngModel)]="tocn" name="tocn" placeholder="Enter To Cheque Number" type="number"  required>
                </ion-input>
            </ion-item>

            <ion-item>
                <ion-label>Stop Issue Date</ion-label>
                <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="stopDate" name="stopDate" required></ion-datetime>
            </ion-item>

            <ion-item>
                <ion-label>Instrument Type</ion-label>
                <ion-select interface="popover" [(ngModel)]="instrumentType" name="instrumentType" required>
                    <ion-option value="CHQ">Cheque</ion-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label stacked color="primary">Reson Code</ion-label>
                <ion-input [(ngModel)]="resaon" name="resaon" placeholder="Enter Reason" type="number"  required>
                </ion-input>
            </ion-item>

            <ion-item>
                <ion-label stacked color="primary">Stop Comments</ion-label>
                <ion-input [(ngModel)]="comments" name="comments" placeholder="Enter Comments" type="text"  required>
                </ion-input>
            </ion-item>


            <ion-item>
                <ion-label>Cheque Type</ion-label>
                <ion-select interface="popover" [(ngModel)]="chequeType" name="chequeType" required>
                    <ion-option value="Account Payee">Account Payee</ion-option>
                    <ion-option value="SELF">Self</ion-option>
                </ion-select>
            </ion-item>


        </ion-list>

        <ion-row responsive-sm>
            <ion-col>
                <button ion-button color="navbarColor" [disabled]="!TransactionsForm.form.valid"  type="submit" block>Get Transaction Details</button>
            </ion-col>
        </ion-row>
    </form>


</ion-content>
