<ion-header>
    <ion-navbar color='navbarColor'>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Loan Products</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="outer-content speaker-list">
    <h1><div *ngIf="loading == true" class="loader">Loading..</div></h1>
    <ion-list >
        <ion-grid fixed>
            <ion-row align-items-stretch>
                <ion-col col-12 col-md-12 align-self-stretch align-self-center *ngFor="let item of loanInformation">
                    <ion-card class="speaker-card">
                        <ion-card-header>
                            <button ion-item detail-none (click)="gotoLoanProductsDetailedPage(item.product_code)">
                                {{item.product_code +" - "+ item.product_name}}
                            </button>
                        </ion-card-header>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-list>
</ion-content>