<ion-header>
    <ion-navbar color='navbarColor'>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Customer Information</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let item of customerDetailedData">
        <ion-card-content>
            <h2 class="card-title"> <b>Customer Name: </b></h2>
            <p>{{item.First_Name +" "+ item.Middle_Name+" "+item.Last_Name}}</p> <br>
            <h2 class="card-title"> <b>Address: </b>{{item.First_Name +" "+ item.Middle_Name+" "+item.Last_Name}}</h2>
            <p>{{item.Line_Address_1+" "+item.Line_Address_2 +" "+item.PIN}}</p>
        </ion-card-content>
        <ion-list>

            <ion-item *ngIf="item.Gender=='M'">
                    <h3>Gender: MALE</h3>
            </ion-item>

            <ion-item *ngIf="item.Gender=='F'">
                <h3>Gender: FEMALE</h3>
            </ion-item>

            <ion-item>
                <h3>Annual Total Income: {{item.Annual_Total_Income}}</h3>
            </ion-item>

            <ion-item>
                <h3>Pan Card: {{item.Pan_Card}}</h3>
            </ion-item>

            <ion-item>
                <h3>Aadhar Card: {{item.Aadhar_card}}</h3>
            </ion-item>
        </ion-list>

    </ion-card>
</ion-content>




